{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style></style>
{% endblock %}

{% block page_content %}
    <div>
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
        {% if not known %}
            <p>Pleased to meet you!</p>
        {%else%}
            <p>Happy to meet you again!</p>
        {% endif %}
    </div>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please, enter your name: <br>
            {{ form.name(size=80) }} <br>
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}