<!DOCTYPE HTML>

<HTML>
<Head>
    {% block head %}
        <title>{% block title %}{% endblock %} | BookShelf</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='960.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}">
        <meta charset="utf-8">
    {% endblock %}
</Head>

<Body>
{% block navbar %}
<div id="navbar" class="container_16">
    <div id="logo" class="grid_3">
        <a href="{{ url_for('main.Index') }}">[B]OOKSHELF</a>
    </div>
    <div class="grid_2 navbar-item">
        <a href="{{ url_for('authors.Index') }}" class="link">authors</a>
    </div>
    <div class="grid_2 navbar-item">
        <a href="{{ url_for('publications.Index') }}" class="link">shelf</a>
    </div>

    {% if current_user.is_authenticated() %}
        <div class="grid_2 navbar-item">
            <a href="#" class="link">diary</a>
        </div>
        <div class="grid_4 push_3 navbar-in-out">    
            <a href="{{ url_for('auth.Logout') }}" class="link">sign out</a>
            [{{ current_user.username }}]    
        </div>
    {% else %}
        <div class="grid_2 push_7 navbar-in-out">
            <a href="{{ url_for('auth.Login') }}" class="link">sign in</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
    <div class="container_16">
        {% for message in get_flashed_messages() %}
            <div class="grid_16">
                {{ message }}
            </div>
        {% endfor %}
    {% block page_content %}{% endblock %}
    </div>
{% endblock %}

</Body>

</HTML>
