<!DOCTYPE html>

<HTML>
<Head>
    {% block head %}
        <title>{% block title %}{% endblock %} | BookShelf</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</Head>
<Body>

{% block navbar %}
    BookShelf
    <ul>
        {% if current_user.is_authenticated() %}
            <li><a href="{{ url_for('auth.Logout') }}">Sign Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.Login') }}">Sign In</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
    {% block page_content %}{% endblock %}
{% endblock %}

</Body>

</HTML>