{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style></style>
{% endblock %}

{% block page_content %}
<p>    
    Hello,
    {% if current_user.is_authenticated() %}
        <span class="greentext">
            {{ current_user.username }}!
        </span>
    {% else %}
        <span class="greentext">
            Stranger!
        </span>
    {% endif %}
</p>
<p>
    <span class="greentext">Today</span> is a <span class="greentext">good</span> day!
</p>
{% endblock %}
